*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,300px);
    grid-template-areas: 
    "a b c"
    "d e f";
    gap: 2em;
}
div{
    display: grid;
    background-color: black;
    height: 200px;
    margin: 2em;

}
.a{
    grid-area: a;

    display: flex;
    justify-content: center;
    justify-items: center;

    border-bottom-right-radius: 200px;
}
.b{
    grid-area: b;


    display: flex;
    justify-content: center;
    justify-items: center;

    border-bottom-right-radius: 200px 100px;
}
.c{
    grid-area: c;


    border-bottom-right-radius: 100px 200px;

}
.d{
    grid-area: d;
    display: flex;
    justify-content: center;
    justify-items: center;  
    border-radius: 50px 150px/50px 150px;


}
.e{
    grid-area: e;
    display: flex;
    justify-content: center;
    justify-items: center;

    border-radius: 50px 25px/ 50px 25px;

}
.f{
    grid-area: f;
    width: 200px;
    display: flex;
    justify-content: center;
    justify-items: center;

    border-radius: 50%;
}